body {
  background-color: #000000 !important;
  background-image: url(http://www.transparenttextures.com/patterns/inspiration-geometry.png) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.My-playlist-scroll {
  margin: 1px;
  width: 50%;
  width: 300px;
  height: 400px;
  overflow: scroll;
  float: right;
}

.My-playlist-img {
  width: 100px;
  height: auto;
}

.White-font {
  color: black;
}


/* PROFILE */
.Profile-img {
    border-radius: 50%;
    width: 200px;
    float: left
}

.Profile-name {
  font-family: Chalkduster;
  width: 500px;
}

.Title {
  height: auto
}


/* SUGGESTIONS */
.Suggestion-box {
  width: 300px;
  height: auto;
  float: right;
}

.Find-artist-button {
  float: left;
}


.Img {
  width: 300px;
  height: auto;
}

.Suggest-body {
  height: auto;
}

/* WIDGETS */
.Player {
  margin-left: 20px;
  height: 380px;
}

.Follow-button {
  width: 250px;
  height: 100px;
  margin-left: 20px;
}


/* LOGIN */
.Login {
  float: right;
}

/* NOW PLAYING */
.Now-playing {
  float: left;
  width: 200px;
}

.Now-name {
  width: 330px;
  text-align: center;
}

.Now-image {
  width: 300px;
}

.Now-device {
  width: 330px;
  text-align: center;
  margin: 5px;
}

/* SUGGESTION AREA */

.Suggestion-box {
  float: right;
}

/* SONG INFO */

.Song-info {
  margin: 0px;
}